In [116]:
import xlwings as xw
import pandas as pd
from openpyxl import load_workbook

# wb = xw.Book('Справка о лесных пожарах (на дату)(1).xlsx') # Открываем книгу
# data_excel = wb.sheets['Отчет'] # Читаем лист Данные
# print(data_pd)

# Версия №2

In [117]:
# Задаем имена файлов
file_data = 'Справка о лесных пожарах (на дату)(1).xlsx'
file_result = 'Оперативная информация по ЛП 19.05.20  на 11-00(мск) .xlsx'

In [118]:
# Загружаем файл
xl_data = pd.ExcelFile(file_data)
xl_result = pd.ExcelFile(file_result)

In [119]:
# Выводим имена листов
print(xl_data.sheet_names)

['Отчет', 'Описание']

In [120]:
# Выводим имена листов
print(xl_result.sheet_names)

['ВСЕГО', 'Лист2', 'Лист3', 'Лист4', 'Лист5', 'Лист6']

### Смотрим количество строк. Оно нам понадобится, так как в исходном файле есть две таблицы, будем считывать каждую по отдельности (т.е. в разные датафреймы)

In [121]:
nrows = xl_data.book.sheet_by_index(0).nrows
nrows

38

### Здесь, skipfooter - сколько строк пропустить снизу, skiprows - сколько строк пропустить сверху. Так как этот файл не будем воспроизводить в excel, можем отредактировать его для удобства, а именно, убрать лишние NaN, чтобы было проще анализировать и смотреть

In [122]:
df_data = pd.read_excel(xl_data, skiprows=5)
df1_data = xl_data.parse(0, skipfooter= nrows-(17+1), skiprows=5).dropna(axis="index", how='all')
df2_data = xl_data.parse(0, skipfooter= nrows-(30+1), skiprows=20).dropna(axis="index", how='all')

### Первая таблица

In [123]:
df1_data

,№ пож. зона,Дата и вр. обнаружения,Наименование,Unnamed: 3,Широта,Долгота,Лесофон-до-держатель,Квартал,Площ. обнар. лес/нелес,Вид по-жара,...,Требуется на пожар,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,Лес-во,Уч. лес-во,NaN,NaN,NaN,NaN,NaN,NaN,...,АПС,ЛО,МЧС,К,Пр.,Б,Т,А,ПМ,Ар.
1,1,2,3,4,5,6,7,8.0,9,10,...,27,28,29,30,31,32,33,34,35,36
2,Верхнекетский район,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2 н,18.05 22:00,Верхнекетское,Катайгинское,"58°45'00""","087°59'00""",лес. ф.,162.0,"1,7/0",Н,...,0,0,0,0,0,0,0,0,0,0
5,Итого по лес-ву:,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,Итого по району:,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
10,ИТОГО:,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

### АПС и ПМ находятся под номерами 17 и 25. Считываем их и сохраняем в переменные

In [124]:
df1_data.iloc[1]

№ пож. зона                1
Дата и вр. обнаружения     2
Наименование               3
Unnamed: 3                 4
Широта                     5
Долгота                    6
Лесофон-до-держатель       7
Квартал                    8
Площ. обнар. лес/нелес     9
Вид по-жара               10
Состо-яние                11
Площадь на конец дня      12
Unnamed: 12               13
Unnamed: 13               14
Unnamed: 14               15
Причина пожара            16
Работает на пожаре        17
Unnamed: 17               18
Unnamed: 18               19
Unnamed: 19               20
Unnamed: 20               21
Unnamed: 21               22
Unnamed: 22               23
Unnamed: 23               24
Unnamed: 24               25
Unnamed: 25               26
Требуется на пожар        27
Unnamed: 27               28
Unnamed: 28               29
Unnamed: 29               30
Unnamed: 30               31
Unnamed: 31               32
Unnamed: 32               33
Unnamed: 33               34
Unnamed: 34               35
Unnamed: 35               36
Name: 1, dtype: object

In [125]:
APS = df1_data.loc[df1_data["№ пож. зона"] == "ИТОГО:", 
         "Работает на пожаре"].iloc[0]
PM = df1_data.loc[df1_data["№ пож. зона"] == "ИТОГО:", 
         "Unnamed: 24"].iloc[0]

In [126]:
APS, PM

(3, 1)

### Вторая таблица

In [127]:
df2_data

,Ведомство,Unnamed: 1,Unnamed: 2,Unnamed: 3,Обнаружено,Unnamed: 5,Unnamed: 6,Unnamed: 7,Действует (ранее),Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Нарастающим итогом (лик),Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,пожаров,NaN,площадь лесная / нелесная,NaN,пожаров,NaN,...,NaN,NaN,пожаров,NaN,NaN,площадь лесная / нелесная,NaN,NaN,NaN,NaN
1,Земли лесного фонда,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,88,NaN,NaN,"1201,2/6,49",NaN,NaN,NaN,NaN
2,в том числе в зоне АСС,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,1,NaN,NaN,"4,7/0",NaN,NaN,NaN,NaN
3,в том числе в зоне контроля,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,0,NaN,NaN,0/0,NaN,NaN,NaN,NaN
4,земли лесного фонда без зоны контроля,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,88,NaN,NaN,"1201,2/6,49",NaN,NaN,NaN,NaN
5,Всего,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,88,NaN,NaN,"1201,2/6,49",NaN,NaN,NaN,NaN
6,в том числе в зоне АСС,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,1,NaN,NaN,"4,7/0",NaN,NaN,NaN,NaN
7,в том числе в зоне контроля,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,0,NaN,NaN,0/0,NaN,NaN,NaN,NaN
8,в том числе без зоны контроля,NaN,NaN,NaN,0,NaN,0/0,NaN,0,NaN,...,NaN,NaN,88,NaN,NaN,"1201,2/6,49",NaN,NaN,NaN,NaN

### Вывели строку №5 чтобы посмотреть названия нужных нам колонок. Считываем необходимую информацию и сохраняем в переменные

In [128]:
df2_data.iloc[5]

Ведомство                         Всего
Unnamed: 1                          NaN
Unnamed: 2                          NaN
Unnamed: 3                          NaN
Обнаружено                            0
Unnamed: 5                          NaN
Unnamed: 6                          0/0
Unnamed: 7                          NaN
Действует (ранее)                     0
Unnamed: 9                          NaN
Unnamed: 10                         0/0
Unnamed: 11                         NaN
Действует (всего)                     0
Unnamed: 13                         0/0
Unnamed: 14                         NaN
 Из них локализовано                  0
Unnamed: 16                         NaN
Unnamed: 17                         NaN
Unnamed: 18                         0/0
Unnamed: 19                         NaN
Unnamed: 20                         NaN
Ликвидировано (в день)                1
Unnamed: 22                         NaN
Unnamed: 23                         NaN
Unnamed: 24                       1,8/0
Unnamed: 25                         NaN
Unnamed: 26                         NaN
Unnamed: 27                         NaN
Нарастающим итогом (лик)             88
Unnamed: 29                         NaN
Unnamed: 30                         NaN
Unnamed: 31                 1201,2/6,49
Unnamed: 32                         NaN
Unnamed: 33                         NaN
Unnamed: 34                         NaN
Unnamed: 35                         NaN
Name: 5, dtype: object

In [143]:
liquidated = df2_data.loc[df2_data["Ведомство"] == "Всего", 
         "Ликвидировано (в день)"].iloc[0]
area = df2_data.loc[df2_data["Ведомство"] == "Всего", 
         "Unnamed: 24"].iloc[0]

In [144]:
liquidated, area

(1, '1,8/0')

### Значение area нужно отредактировать, берем только то значение которое лежит слева от знака "/"

In [145]:
area_edited = area.split("/")[0]

In [146]:
area_edited = area_edited.replace(',', '.')

In [147]:
area_edited = float(area_edited)

In [148]:
liquidated, area_edited

(1, 1.8)

# Здесь надо либо обработать датафрейм и привести его к необходимому виду и сохранить. Либо, полученные значения напрямую вставить в соответствующие ячейки, не создавая датафрейма

In [149]:
wb1 = load_workbook(file_data)
wb2 = load_workbook(file_result)

ws1 = wb1["Отчет"]
ws2 = wb2["ВСЕГО"]

cell_coord_liquidated = "I6"
cell_coord_area = "K6"
cell_coord_APS_PM = "M6"
cell_coord4_PM = "N6"

ws2[cell_coord_liquidated].value = liquidated
ws2[cell_coord_area].value = area_edited
ws2[cell_coord_APS_PM].value = APS + PM
ws2[cell_coord4_PM].value = PM

wb2.save(file_result)

wb1.close()
wb2.close()